/* Global Styles */
body {
     font-family: 'Georgia', Arial, sans-serif;
     margin: 0;
     padding-left: 10px;
     padding-right: 10px;
     background: rgb(0, 65, 121);
     color: #ffffff;
     line-height: 1.6;
   }

   
  /* Head Section Styles */
  #HeadSec h1{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 40px;
    padding: 0;
    margin: 0;
  

  }
  #HeadSec h3 {
    font-family: 'Arial', serif;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  #HeadSec ul {
    display: flex;
    justify-content:space-around;
    list-style-type: none; 
    width: auto;
    padding-left: 0;
  }
  #HeadSec li { 
    margin-left: 10px;
    
  }


  /* Hero Section Styles */
#HeroSec  {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width:auto;
  border-top: solid grey;
  border-bottom: solid grey;
  padding: 0;
}

#HeroSec button{
  font-family: 'Arial', serif;
  height: 50px;
  width: 200px;
  background-color: rgb(243, 196, 4);
  border: solid rgb(1, 56, 104) 1px;
  border-radius: 10px;
 
}

  /* About Section Styles */

  #AboutSec {
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    border-top: solid grey;
    border-bottom: solid grey;
  }
  #OverviewSec {
    width:auto;
    border-top: solid red;
    border-bottom: solid red;
    flex: 0.5;
    min-width: 280px;
    font-size: 1.1rem;
    padding: 0;
    /*transform: translateY(5px);*/
  }

  #OverviewSec h2{
    font-size: 25px;
    display: flex;
    align-items: flex-start;
  }

  #OverviewSec p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding-right: 70px;
  }

  /* Time Line Styles*/
  #timelineSection{
    flex: 1;
    min-width: 280px;
  }

  #line {
    border-bottom: solid rgb(243, 196, 4) 2px;
    width: 80%;
    transform: translateX(100px);
  }
.dot {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translateX(80px)
}
#dot2{
  transform: translateX(120px)
}
#dot3{
  transform: translateX(200px)
}

.dot-container {
  display: flex;
  width: 70%;
  justify-content: space-between; /* Even horizontal spacing */
  align-items: flex-start; /* Aligns items to the top of the container */
  transform: translateY(-10px);
}

#timelineSection ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  transform: translateX(-30px);
}
#timelineSection ul li {
  transform: rotate(-30deg);
  padding: 10px;
}



